.articles .headline2,
.portfolios .headline2 {
  padding-bottom: 70px;
}

.main-article {
  width: 100%;
  display: grid;
  grid-template-columns: 0.97fr 1fr;
  text-decoration: none;
  column-gap: 25px;
  row-gap: 10px;
}

.main-article__img,
.main-article__img .img,
.main-article__img img {
  width: 100%;
}
.img,
.main-article__img .img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-article__info {
  display: flex;
  flex-direction: column;
}
.main-article__info .date,
.article__info .date {
  padding: 5px 0;
  color: var(--color-gray);
}

.main-article__info .headline3 {
  padding-top: 9px;
  color: var(--color-white);
}
.main-article__info .headline4 {
  color: var(--color-gray);
  padding-bottom: 30px;
}

.articles__container {
  padding: 100px 0 150px 0;
  width: 80%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  column-gap: 19px;
}
.article .article__info {
  padding-top: 20px;
  color: var(--color-white);
}
.article__info .paragraph {
  color: var(--color-gray);
  padding: 3px 0 10px 0;
}
.article__info .article_link {
  position: relative;
  padding: 20px 0;
}

@media screen and (max-width: 850px) {
  .articles .headline2,
  .portfolios .headline2 {
    padding-bottom: 45px;
  }

  .main-article {
    grid-template-columns: 1fr;
  }
  .articles__container {
    width: 100%;
    grid-template-columns: 1fr;
    column-gap: 60px;
    row-gap: 60px;
    padding-bottom: 120px;
  }
  .portfolios_page .heading h1,
  .articles .heading h1 {
    padding: 20px 0;
  }
}

@media screen and (max-width: 430px) {
  .articles .headline2,
  .portfolios .headline2 {
    padding-bottom: 30px;
  }
}
