.portfolios_page {
  padding-bottom: 300px;
}

.portfolios_container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  row-gap: 15px;
  column-gap: 15px;
}

.portfolios_container .portfolio-cards:last-child {
  flex-direction: row-reverse;
}
@media screen and (max-width: 900px) {
  .portfolios_page {
    padding-bottom: 150px;
  }
  .portfolios_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
