header {
  background-color: #0d0d0d;
  backdrop-filter: blur(220px);
  position: relative;
  z-index: 10;
  margin: 0;
}

header {
  background-color: var(--color-black);
  backdrop-filter: blur(220px);
  position: relative;
  z-index: 10;
  margin: 0;
}
header .container {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgba(255, 255, 255, 0.763);
}
header .logo {
  width: 50px;
  margin-right: 20px;
}
#navbar {
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
#navbarResponsive {
  width: 100vw;
  z-index: 110;
  position: fixed;
  top: 94px;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: var(--color-black);
}
.header:has(.show) {
  padding-top: 95px;
}
.header:has(.show) > header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-modal {
  overflow: hidden;
  height: 100vh;
  z-index: 100;
}

#navbarResponsive ul,
#navbarResponsive .navbar-modal {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  transition: all 0.2s linear;
}
header ul {
  display: flex;
}
#navbarResponsive li,
header .container .nav li {
  padding: 1.5rem 1rem;
  font-family: 'Exo 2', sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 26.4px;
}
.nav-link {
  text-decoration: none;
  padding: 0;
  position: relative;
  color: var(--color-white);
  scroll-behavior: smooth;
}
.nav-link:hover {
  color: var(--color-ylw);
}

.active-link::after {
  content: '';
  border-bottom: 1px solid var(--color-white);
  left: 0;
  bottom: 0;
  position: absolute;
  right: 100%;
  transition: right 0.3s ease;
  right: 0;
}

.active-link:hover::after {
  border-bottom-color: var(--color-ylw);
}
@media screen and (max-width: 997px) {
  header .container {
    padding: 5px 0;
  }
  header .logo {
    margin-right: 0;
    margin-left: 14px;
  }
  header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  header .navbar-toggler {
    display: inherit;
  }
  #navbar {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  header .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  header .navbar-toggler {
    display: inherit;
  }
}
