body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --ff-bowler: 'BOWLER', sans-serif;
  --ff-exo-2: 'Exo 2', serif;
  --color-black: #141416;
  --color-white: #fff;
  --color-ylw: #ffd951;
  --color-gray: #a9a9a9;
  --color-drk-gray: #242424;
  --color-blue: #08fffc99;
}

div {
  cursor: default;
}
